n8n/chatbot-deadpool.json
{
  "name": "Deadpool IA — Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Chatbot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "webhook-chatbot",
      "webhookId": "chatbot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "VOTRE_CLE_API_ANTHROPIC" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-20250414\",\n  \"max_tokens\": 300,\n  \"system\": \"Tu es Deadpool IA, l'assistant personnel d'Alison Mendes, auto-entrepreneuse immobiliere chez Visit & Smile a Orleans. Tu es chaleureux, motivant, professionnel et tu utilises des emojis avec parcimonie. Tu l'aides dans son quotidien immobilier. Reponds de maniere concise (max 3-4 phrases) et toujours en francais.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.message }}\"\n    }\n  ]\n}"
      },
      "name": "Claude Deadpool IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "id": "claude-chatbot"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.content[0].text } }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 300],
      "id": "respond-answer"
    }
  ],
  "connections": {
    "Webhook Chatbot": { "main": [[{ "node": "Claude Deadpool IA", "type": "main", "index": 0 }]] },
    "Claude Deadpool IA": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Visit & Smile" }, { "name": "Chatbot" }]
}
